.trigger {
  margin: 0;
  width: 34rem;
  height: 3.2rem;
  background: #e6eaee;
  border-radius: 1.2rem;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.box {
  position: absolute;
  top: 0.31rem;
  left: 0.5rem;
  display: inline-block;
  background-color: #23c8ac;
  opacity: 0.7;
  width: 16rem;
  height: 2.6rem;
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.15, 1.4);
  border-radius: 1.2rem;
  z-index: 20;
}

.trigger.clicked .box {
  transform: translateX(17rem);
}

.switchContent {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 3.2rem;
  color: #000;
  padding: 0% 4.5rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  z-index: 30;
}

.MR-Container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.MR-Form {
  width: 80%;
  text-align: center;
}

.MR-Form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  transition: transform 0.3s ease-in-out;
}

.MR-form-input {
  width: 34.5rem;
  height: 3.25rem;
  background: #eef0f4;
  color: #364863;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  padding: 0px 0px 0px 2rem;
  line-height: normal;
  font-family: Montserrat, sans-serif;
  margin-top: 2rem;
}

.MR-form-input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #23c8ac;
}

.MR-Container select {
  width: 36rem;
  font-size: 1rem;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  color: #364863;
  line-height: normal;
  border-radius: 1rem;
  height: 3.25rem;
  margin: 1.2rem 2rem 0.5rem 1.8rem;
  border: 2px solid transparent;
  background: #eef0f4;
  padding: 0px 0px 0px 2rem;
}

.MR-Container select:focus {
  outline: none;
  border: 2px solid #23c8ac;
}

.MR-Container option[value=""][disabled] {
  display: none;
}

.MR-Container option {
  font-size: 1rem;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  color: #364863;
  line-height: normal;
}

.MR-buttonContainer {
  width: 36rem;
  height: 3.25rem;
  margin-top: 3rem;
  /* margin: auto; */
}

.fade {
  transform: translateY(40vh);
  animation: fade 0.2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
